*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}


.container{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
    transition: ease .40s;
    letter-spacing: 1px;
    background: linear-gradient(454deg, #4f4080, #9553ff);

}


.logo{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    color: black;
}

.navbar{
    display: flex;
}

.navbar a{
    color: black;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 22px;
    border-radius: 4px;
    transition: ease .40s;
}

.navbar a:hover{
    background: white;
    color: black;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 4px;

}

section{
    padding: 170px 3%;
}

.home_img{
    float: right;
    width: 25%;
    margin: 65px;
    margin-top: -200px;

}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(454deg, #4f4080, #9553ff);
    background-size: cover;
    background-position:center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.home-text h1{
    font-size: 40px;
    line-height: 1.2;
    color: whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.home-text p{
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 30px;

}

.about-text h2{
    font-size: 55px;
    text-align: center;
    margin-top: -40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about_img{
    width: 30%;
    height: 350px;
    margin: 65px;
    margin-top:30px;
    margin-left: 440px;
}

.about-text p{
    margin-top: -30px;
    letter-spacing: 2px;
    text-align: justify;
    line-height: 1.5;
    text-indent: 80px;
}

.work{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(454deg, #4f4080, #9553ff);
    background-size: cover;
    background-position:center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.work-text h3{
    font-size: 55px;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img{
    object-fit: cover;
    margin: 5px 5px;
    width:300px;
    height:200px;
}


@media(max-width:768px) {
    
    .container{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 8%;
        transition: ease .40s;
        letter-spacing: 1px;
        background: linear-gradient(454deg, #4f4080, #9553ff);
    
    }

    .logo{
        display: none;
    }

    .navbar a{
        color: black;
        font-size: 15px;
        font-weight: 500;
        padding: 8px 17px;
        border-radius: 4px;
        transition: ease .40s;
    }

    .home-text h1{
        font-size: 12px;
        line-height: 1.2;
        color: whitesmoke;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 4px;
        margin-bottom: 0px;
        margin-top: -10px;
    }

    
    .home{
        position: relative;
        width: 100%;
        height: 100vh;
        background: linear-gradient(454deg, #4f4080, #9553ff);
        background-size: cover;
        background-position:center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    .home-text h1{
        font-size: 12px;
        line-height: 1.2;
        color: whitesmoke;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 4px;
        margin-bottom: 50px;
        margin-top: -80px;
    }

    .home-text p{
        font-size: 12px;
        font-weight: 300;
        line-height: 20px;
        margin-bottom: 50px;
        margin-top: -20px;
    
    }

    .home_img{
        float: right;
        width: 25%;
        margin: 10px;
        margin-top: -120px;
        height: 100px;
    
    }

    .about_img{
        width: 80%;
        height: 350px;
        margin: 65px;
        margin-top:30px;
        margin-left: 45px;
    }
    
    img{
        object-fit: cover;
        margin: 5px 5px;
        width:110px;
        height:80px;
    }
}
    
